<h1 class="text-center pt-5">Update recipe: {{ recipeItem.id }}</h1>
<form class="w-[27rem] p-6 rounded-lg shadow-md" (ngSubmit)="onSubmit()">
  <div class="mb-4">
    <mat-form-field class="w-full">
      <mat-label class="text-gray-200">Title</mat-label>
      <input
        class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline"
        matInput
        placeholder="title..."
        value="recipeItem.title"
        name="Title"
        [(ngModel)]="recipeItem.title"
      />
    </mat-form-field>
  </div>

  <div class="mb-4">
    <mat-form-field class="w-full">
      <mat-label class="text-gray-200">Description</mat-label>
      <input
        class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline"
        matInput
        placeholder="description..."
        value="recipeItem.description"
        name="Description"
        [(ngModel)]="recipeItem.description"
      />
    </mat-form-field>
  </div>

  <div class="mb-4">
    <mat-form-field class="w-full">
      <mat-label class="text-gray-200">Image</mat-label>
      <input
        class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline"
        matInput
        placeholder="image url..."
        value="recipeItem.image"
        name="image"
        [(ngModel)]="recipeItem.image"
      />
    </mat-form-field>
  </div>

  <div class="mb-4">
    <mat-radio-group
      name="foodType"
      value="recipeItem.foodType"
      [(ngModel)]="recipeItem.foodType"
      aria-label="Select an option"
    >
      <mat-radio-button value="veg">Vegetarian</mat-radio-button>
      <mat-radio-button value="non_veg">Non Vegetarian</mat-radio-button>
    </mat-radio-group>
  </div>

  <div>
    <button mat-raised-button color="primary" type="submit">Update</button>
  </div>
</form>
